<h1>Battle!</h1>
<h2>Sign in to play:</h2>

<form action="/names" method="post">
  <label for="name_1">Player 1 name</label>
  <input type="text" name="name_1">
  <label for="name_2">Player 2 name</label>
  <input type="text" name="name_2">
  <input type="submit" value="Submit">
</form>

<img src=https://i.imgur.com/dRzzog8.jpg alt="kitten ready to fight" style='border: 5px dotted black' width="500" height="414">
