
<h1> <%= @name_1 %> vs. <%= @name_2 %></h1>

<h2> <%= @name_2 %>'s HP: <%= @player_2_hp %> </h2>

<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>



<!-- <a href="/attack">Attack</a> -->
