
<h1> <%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h2> <%= @game.player_2.name %>'s HP: <%= @game.player_2.hp %> </h2>

<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>



<!-- <a href="/attack">Attack</a> -->
